<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <!-- <link rel="stylesheet" type="text/css" href="/p/system/stock/stockDetail/index.css"> -->
  </head>
  <body>
    <div id="container" class="clearfix"></div>
    <div id="J_data" style="display: none;" data-name="<%=name%>" data-industry="<%=industry%>" data-close="<%=close%>" data-stockRate="<%=stockRate%>" data-stockPrecent="<%=stockPrecent%>" data-symbol="<%=symbol%>"></div>
    <script src="/common.js" type="text/javascript"></script>
    <script src="/p/system/stock/stockDetail/bundle.js" type="text/javascript"></script>
  </body>
</html>